---
const { class: className = '' } = Astro.props;
const classes = ['logo-icon', 'logo-mark', className].filter(Boolean).join(' ');
---

<span class={classes} aria-hidden="true">
    <span class="logo-mark__leaf"></span>
    <span class="logo-mark__core"></span>
</span>
